<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/swiper.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/calendar.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/components/bs-switches.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/components/radio-checkbox.css') }}" type="text/css" />
			
			{# PERSONAL #}
			<link rel="stylesheet" href="{{ asset('css/personal/classes.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/personal/themeOverride.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/personal/custom.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body class="stretched">
        {% block body %}
            <div id="wrapper">
                <header id="header" class="bg-light header-size-md">
                    <div id="header-wrap" class="border-top border-f5">
                        <div class="container">
                            <div class="header-row justify-content-between justify-content-lg-start">

                                <!-- Logo
                                ============================================= -->
                                <div id="logo" class="me-0">
                                    <a href="{{ path('homepage') }}">
                                        <img class="logo-default" srcset="images/logo.png, {{ asset('images.png') }} 2x" src="{{ asset('images.png') }}" alt="L&P Logo">
                                    </a>
                                </div><!-- #logo end -->

                                <div class="header-misc ms-0">

                                    <div class="header-misc-icon">
                                        <a href="#"><i class="bi-heart"></i></a>
                                    </div>

                                    <div class="header-misc-icon ms-3">
                                        <a href="#"><i class="bi-people"></i></a>
                                    </div>

                                    <!-- Top Cart
                                    ============================================= -->
                                    <div id="top-cart" class="header-misc-icon d-none d-sm-block ms-3">
                                        <a href="#" id="top-cart-trigger"><i class="uil uil-shopping-bag"></i><span class="top-cart-number">5</span></a>
                                        <div class="top-cart-content">
                                            <div class="top-cart-title">
                                                <h4>Shopping Cart</h4>
                                            </div>
                                            <div class="top-cart-items">
                                                <div class="top-cart-item">
                                                    <div class="top-cart-item-image">
                                                        <a href="#"><img src="{{ asset ('images/logo.png') }}" alt="Blue Round-Neck Tshirt"></a>
                                                    </div>
                                                    <div class="top-cart-item-desc">
                                                        <div class="top-cart-item-desc-title">
                                                            <a href="#">Blue Round-Neck Tshirt with a Button</a>
                                                            <span class="top-cart-item-price d-block">$19.99</span>
                                                        </div>
                                                        <div class="top-cart-item-quantity">x 2</div>
                                                    </div>
                                                </div>
                                                <div class="top-cart-item">
                                                    <div class="top-cart-item-image">
                                                        <a href="#"><img src="{{ asset ('images/logo.png') }}" alt="Light Blue Denim Dress"></a>
                                                    </div>
                                                    <div class="top-cart-item-desc">
                                                        <div class="top-cart-item-desc-title">
                                                            <a href="#">Light Blue Denim Dress</a>
                                                            <span class="top-cart-item-price d-block">$24.99</span>
                                                        </div>
                                                        <div class="top-cart-item-quantity">x 3</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="top-cart-action">
                                                <span class="top-checkout-price">$114.95</span>
                                                <a href="#" class="button button-3d button-small m-0">View Cart</a>
                                            </div>
                                        </div>
                                    </div><!-- #top-cart end -->

                                </div>

                                <div class="primary-menu-trigger">
                                    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                                        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                                    </button>
                                </div>

                                <!-- Primary Navigation
                                ============================================= -->
                                <nav class="primary-menu with-arrows ms-lg-5">

                                    <ul class="menu-container">
                                        <li class="menu-item">
                                            <a class="menu-link p-3" href="{{ path('homepage') }}"><div>Home</div></a>
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link p-3" href="{{ path('homepage') }}"><div>Chi siamo</div></a>
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link p-3" href="{{ path('homepage') }}"><div>Prodotti</div></a>
                                        </li>
                                        <li class="menu-item">
                                            <a class="menu-link p-3" href="{{ path('homepage') }}"><div>Portfolio</div></a>
                                        </li>
                                    </ul>

                                </nav><!-- #primary-menu end -->

                                <div class="header-shop-search mx-lg-5 col">
                                    <form action="" class="mb-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control rounded-pill border-3 px-4" aria-label="Text input with dropdown button" style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;" placeholder="Search Products..">
                                            <button class="btn btn-dark rounded-pill border-width-3" type="button" style="border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; margin-left: -3px;"><i class="uil uil-search"></i></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="header-wrap-clone"></div>
                </header>
            </div>
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script type="text/javascript" src="{{ asset ('js/functions.js') }}"></script>
            <script type="text/javascript" src="{{ asset ('js/plugins.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
