<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
        
        {% block stylesheets %}
            {# THEME #}
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/swiper.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/calendar.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/components/bs-switches.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/components/radio-checkbox.css') }}" type="text/css" />
            
            {# DEMO #}
            <link rel="stylesheet" href="{{ asset('demos/drone/drone.css') }}" type="text/css" />
		
			{# PERSONAL #}
			<link rel="stylesheet" href="{{ asset('css/personal/classes.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/personal/themeOverride.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/personal/custom.css') }}" type="text/css" />
        {% endblock %}

    </head>
    <body class="stretched">

        {% block body %}
            <div id="wrapper">

                {% block header %}
                    <header id="header" class="header-size-sm transparent-header floating-header" data-sticky-shrink="false">
                        <div id="header-wrap">
                            <div class="container" data-class="up-lg:border up-lg:shadow-sm">
                                <div class="header-row">

                                    <div id="logo" class="me-lg-4">
                                        <a href="{{ path('homepage') }}">
                                            <img src="{{ asset('images/logo.png') }}" alt="LP-logo">
                                        </a>
                                    </div>

                                    <div class="header-misc ms-auto">

                                        <div id="top-cart" class="header-misc-icon">
                                            <a href="{{ path('homepage') }}" id="top-cart-trigger"><i class="bi-basket"></i></a>
                                            <div class="top-cart-content border-top-0">
                                                <div class="top-cart-title">
                                                    <h4>Shopping Cart</h4>
                                                </div>
                                                <div class="top-cart-items">
                                                    No Items Added Yet.
                                                </div>
                                                <div class="top-cart-action">
                                                    <a href="{{ path('homepage') }}" class="button button-3d button-small m-0">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="header-misc-icon mx-lg-3">
                                            <a href="{{ path('homepage') }}"><i class="bi-info-circle"></i></a>
                                        </div>

                                        <div id="top-search" class="header-misc-icon">
                                            <a href="{{ path('homepage') }}" id="top-search-trigger"><i class="bi-search"></i><i class="bi-x-lg"></i></a>
                                        </div>
                                    </div>

                                    <div class="primary-menu-trigger">
                                        <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                                            <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                                        </button>
                                    </div>

                                    <nav class="primary-menu with-arrows">

                                        <ul class="menu-container">
                                            <li class="menu-item current">
                                                <a class="menu-link" href="{{ path('homepage') }}"><div>Home</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="{{ path('homepage') }}"><div>Prodotti</div>
                                                </a>
                                                <ul class="sub-menu-container border-0">
                                                    <li class="menu-item">
                                                        <a class="menu-link" href="{{ path('homepage') }}"><div>Libro 1</div></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="{{ path('homepage') }}"><div>Chi siamo</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="{{ path('homepage') }}"><div>Contatti</div>
                                                </a>
                                            </li>
                                        </ul>

                                    </nav>

                                    <form class="top-search-form" action="search.html" method="get">
                                        <input type="text" name="q" class="form-control" value="" placeholder="Search your Favourite Drone..." autocomplete="off">
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="header-wrap-clone"></div>
                    </header>
                {% endblock %}

                {% block slider %}{% endblock %}

                {% block content %}{% endblock %}

                {% block footer %}
                    <footer id="footer" class="dark border-0 bg-dark overflow-hidden">
                        <div class="container">

                            <div class="footer-widgets-wrap">
                                <div class="row">

                                    <div class="col-lg-5">

                                        <div class="widget">
                                            <div class="row">
                                                <div class="col-lg-8 mb-5">
                                                    <img class="animated infinite mb-4" src="{{ asset ('demos/drone/images/logo-dark.svg') }}" alt="Canvas Logo" height="50" style="animation: spin 2.5s infinite linear;">
                                                    <h3>Stay Updated</h3>
                                                    <p class="mb-0"><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
                                                    <div class="widget subscribe-widget mb-5 mt-4">
                                                        <div class="widget-subscribe-form-result"></div>
                                                        <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
                                                            <div class="input-group mx-auto bg-contrast-200 rounded-pill p-2">
                                                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control bg-contrast-200 border-0 required email" placeholder="Enter your Email">
                                                                <button class="btn btn-dark bg-black button-offset button-offset-circle rounded-circle square" style="--cnvs-square-size: 3.25rem" type="submit"><i class="bi-arrow-right fs-4"></i></button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <a href="{{ path('homepage') }}" class="social-icon si-small border-0 rounded-circle text-light bg-facebook">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                    </a>

                                                    <a href="{{ path('homepage') }}" class="social-icon si-small border-0 rounded-circle text-light bg-x-twitter">
                                                        <i class="fa-brands fa-x-twitter"></i>
                                                        <i class="fa-brands fa-x-twitter"></i>
                                                    </a>

                                                    <a href="{{ path('homepage') }}" class="social-icon si-small border-0 rounded-circle text-light bg-google">
                                                        <i class="fa-brands fa-google"></i>
                                                        <i class="fa-brands fa-google"></i>
                                                    </a>

                                                    <a href="{{ path('homepage') }}" class="social-icon si-small border-0 rounded-circle text-light bg-pinterest">
                                                        <i class="fa-brands fa-pinterest-p"></i>
                                                        <i class="fa-brands fa-pinterest-p"></i>
                                                    </a>

                                                    <a href="{{ path('homepage') }}" class="social-icon si-small border-0 rounded-circle text-light bg-vimeo">
                                                        <i class="fa-brands fa-vimeo-v"></i>
                                                        <i class="fa-brands fa-vimeo-v"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-7">
                                        <div class="row g-5">

                                            <div class="col-6 col-lg-4">
                                                <div class="widget widget_links widget-li-noicon app_landing_widget_link">
                                                    <h4>In News</h4>

                                                    <ul>
                                                        <li><a href="{{ path('homepage') }}">About us</a></li>
                                                        <li><a href="{{ path('homepage') }}">Find a store</a></li>
                                                        <li><a href="{{ path('homepage') }}">Subscription</a></li>
                                                        <li><a href="{{ path('homepage') }}">Business</a></li>
                                                        <li><a href="{{ path('homepage') }}">Workshop</a></li>
                                                        <li><a href="{{ path('homepage') }}">Blog</a></li>
                                                        <li><a href="{{ path('homepage') }}">Press</a></li>
                                                        <li><a href="{{ path('homepage') }}">Acessories</a></li>
                                                        <li><a href="{{ path('homepage') }}">Careers</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-4">
                                                <div class="widget widget_links widget-li-noicon app_landing_widget_link">
                                                    <h4>About Us</h4>

                                                    <ul>
                                                        <li><a href="{{ path('homepage') }}">Jome</a></li>
                                                        <li><a href="{{ path('homepage') }}">About Us</a></li>
                                                        <li><a href="{{ path('homepage') }}">Products</a></li>
                                                        <li><a href="{{ path('homepage') }}">Videos</a></li>
                                                        <li><a href="{{ path('homepage') }}">Offers</a></li>
                                                        <li><a href="{{ path('homepage') }}">Pricing</a></li>
                                                        <li><a href="{{ path('homepage') }}">Contact</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-4">
                                                <div class="widget widget_links widget-li-noicon app_landing_widget_link">
                                                    <h4>Support</h4>

                                                    <ul>
                                                        <li><a href="https://codex.wordpress.org/">Documentation</a></li>
                                                        <li><a href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                                                        <li><a href="https://wordpress.org/extend/plugins/">Plugins</a></li>
                                                        <li><a href="https://wordpress.org/support/">Support Forums</a></li>
                                                        <li><a href="https://wordpress.org/extend/themes/">Themes</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="copyrights">
                            <div class="container">
                                <p class="mb-0 text-center">Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.</p>
                            </div>
                        </div>
                    </footer>
                {% endblock %}

            </div>
        {% endblock %}

    <div id="gotoTop" class="uil uil-angle-up rounded-circle"></div>

    <script src="{{ asset ('js/plugins.min.js') }}"></script>
    <script src="{{ asset ('js/functions.bundle.js') }}"></script>

</body>
</html>
